# IDE
.idea/
*.iml

# Local machine
/local.properties

# Gradle
/.gradle/
/.kotlin/
build/

# Native build outputs
.externalNativeBuild/
.cxx/

# OS files
.DS_Store
Thumbs.db

# Compiled class files
*.class

# Firebase
app/google-services.json
**/google-services.json